<style>ul li{
  display:inline;
  padding:0px;
}




  </style>

<div class="header-container sticky">

  <div class="menu-container first-menu clearfix">
<nav>
<ul class="sf-menu"  >
  <li>
      <a href="index-page=home.html" title="Home">
          تسجيل
      </a></li> &nbsp;&nbsp;&nbsp;&nbsp;   
<li>
<a href="index-page=home.html" title="Home">
  إتصل بنا
</a></li> 
<li>
  <a href="index-page=home.html" title="Home">
      تسجيل
  </a></li> &nbsp;&nbsp;&nbsp;&nbsp;   
<li>
<a href="index-page=home.html" title="Home">
إتصل بنا
</a></li> 

<li><img src="../../assets/images/LOGO.jpg"></li>


<li>
<a href="index-page=about.html" title="À PROPOS ">
  الخدمات
</a>

</li>



<li>
  <a href="index-page=service_calculator.html" title="SERVICE">
    إستقبال
  </a>
  </li> <li>
    <a href="index-page=service_calculator.html" title="SERVICE">
      إستقبال
    </a>
    </li>
</ul>





</nav>



</div></div>


