<!--/-->
<div class="site-container">
  <div class="theme-page">
      <div class="clearfix">
        <div class="row margin-top-89">
          <div class="row">
            <h2 class="box-header">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; </h2>
            <p class="description align-center">وفر جهدك ووقتك .. مع جميــــل .. سلمنا المفتاح واغسل سيارتك وارتاح</p>
            <div class="row page-margin-top">
              <div class="column column-1-4">
                <ul class="features-list align-right margin-top-30">
                  <li>
                    <div class="icon features-diamond"></div>
                    <h4>جودة عالية</h4>
                    <p>              طاقم يقوم بغسيل وتلميع سيارتك أينما كنت بأفضل التقنيات الحديثة وبأجود المواد وطنية، الأمريكية و الفرنسية ذات المواصفات العالمية العالية</p>
                  </li>
                  <li>
                    
                    <h4></h4>
                    <p></p>
                  </li>
                </ul>
              </div>
              <div class="column column-1-2 align-center">
                <div class="image-wrapper">
                  <img src="../../assets/images/samples/480x480/image_01.jpg" alt="" class="radius border">
                </div>
              </div>
              <div class="column column-1-4">
                <ul class="features-list margin-top-30">
                  <li>
                    <div class="icon features-eco"></div>
                    <h4>التقنيات الرائدة</h4>
                  <p>طاقم يقوم بغسيل متطور بالبخار ، بتقنية البخار النفاث ، بماء خالٍ من الأملاح  </p>
                  </li>
                  <li>
                    <div class="icon features-maid"></div>
                    <h4>طاقم متميز</h4>
                    <p>موظفاً تحت خدمتك ، من طاقم مُدرب بكفاءة عالية. </p>
                  </li>
                </ul>
              </div>
            </div>
           
          </div>	
        </div>
        <div class="row full-width padding-top-89 padding-bottom-96 page-margin-top-section parallax parallax-1 overlay">
          <div class="row">
            <h2 class="box-header white">الفيديو التعريفي</h2>
            <p class="description align-center white">شاهد و تعرف على تطبيق جميــــل</p>
            <iframe width="730" height="345" src="https://www.youtube.com/embed/np9vm-dVIxE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div></div>
        <div class="row full-width gray padding-top-89 padding-bottom-96">
          <div class="row">
            
            
            <div class="carousel-container margin-top-65 clearfix">
              <ul class="services-list horizontal-carousel clearfix page-margin-top">
                <li class="column column-1-3">
                  <a href="index-page=service_house_cleaning.html" title="">
                    <img src="../../assets/images/samples/480x320/image_07.jpg" alt="">
                  </a>
                  <h4 class="box-header"><a href="index-page=service_house_cleaning.html" title="House Cleaning">تقديم أعلى معايير النظافة للمركبات وتمنح سيارتك النظافة المميزة والعناية الفائقة مع تجنب خدش الهيكل الخارجي للسيارة</a></h4>
                  
                </li>
                <li class="column column-1-3">
                  <a href="index-page=service_post_renovation.html" title="Post Renovation">
                    <img src="../../assets/images/samples/480x320/image_08.jpg" alt="">
                  </a>
                  <h4 class="box-header"><a href="index-page=service_post_renovation.html" title="Post Renovation">تمتاز بتقديم أعلى معايير الجودة في غسل وتنظيف السيارة بعد الإنتهاء من غسلها. بالإضافة إلى تقديم أعلى مستويات الراحة للعميل. لسيارة نظيفة ولامعة من كل الشوائب </a></h4>
                 
                </li>
                <li class="column column-1-3">
                  <a href="index-page=service_green_spaces_maintenance.html" title="Green Spaces Maintenance">
                    <img src="../../assets/images/samples/480x320/image_06.jpg" alt="">
                  </a>
                  <h4 class="box-header"><a href="index-page=service_green_spaces_maintenance.html" title="Green Spaces Maintenance">تلميع السيارة بطريقة مثالية  فنحن  نحرص دوماً أن تكون سيارتك في أبهى صورة من خلال استخدام أفضل أدوات و مواد التلميع </a></h4>
                  
                </li>
                <li class="column column-1-3">
                  <a href="index-page=service_move_in_out.html" title="Move In Out Service">
                    <img src="../../assets/images/samples/480x320/image_04.jpg" alt="">
                  </a>
                  <h4 class="box-header"><a href="index-page=service_move_in_out.html" title="Move In Out Service">تقدم طريقة غسيل السيارات بالبخار  ميزة التنظيف التي يتم تنفيذها. على حد سواء في الداخل و على السطح الخارجي للسيارة عبر نفث البخار الجاف . غسيل البخار يزيل البقع العنيدة و الروائح من مواد النسيجية داخل السيارة.
  
                      و  يمكن أن يستخدم أيضا على لوحة القيادة، الهيكل ، العجلات أو الإطارات … وهنا يسمح غسيل السيارات بالبخار .بالحفاظ على نظافة السيارة بطريقة غير قاسية لحماية المناطق الأكثر حساسية فيها.و لكن أيضا يوفر تنظيف عميق لاصعب المناطق</a></h4>
                  <p></p>
                </li>
                <li class="column column-1-3">
                  <a href="index-page=service_commercial_cleaning.html" title="Commercial Cleaning">
                    <img src="../../assets/images/samples/480x320/image_09.jpg" alt="">
                  </a>
                  <h4 class="box-header"><a href="index-page=service_commercial_cleaning.html" title="Commercial Cleaning">تنظيف مكثف للسيارة من الداخل  لإزالة الأوساخ و البقع و الروائح الكريهة من داخل السيارة</a></h4>
                 
                </li>
                <li class="column column-1-3">
                  <a href="index-page=service_window_cleaning.html" title="Window Cleaning">
                    <img src="../../assets/images/samples/480x320/image_10.jpg" alt="">
                  </a>
                  <h4 class="box-header"><a href="index-page=service_window_cleaning.html" title="Window Cleaning">WINDOW CLEANING</a></h4>
                 
                </li>
                <li class="column column-1-3">
                  <a href="index-page=service_house_cleaning.html" title="House Cleaning">
                    <img src="../../assets/images/samples/480x320/image_07.jpg" alt="">
                  </a>
                  <h4 class="box-header"><a href="index-page=service_house_cleaning.html" title="House Cleaning"></a>تنظيف</h4>    
                  
                </li>
                <li class="column column-1-3">
                  <a href="index-page=service_post_renovation.html" title="Post Renovation">
                    <img src="../../assets/images/samples/480x320/image_08.jpg" alt="">
                  </a>
                  <h4 class="box-header"><a href="index-page=service_post_renovation.html" title="Post Renovation"></a>غسيل</h4>
                  
                </li>
                <li class="column column-1-3">
                  <a href="index-page=service_green_spaces_maintenance.html" title="Green Spaces Maintenance">
                    <img src="../../assets/images/samples/480x320/image_06.jpg" alt="">
                  </a>
                  <h4 class="box-header"><a href="index-page=service_green_spaces_maintenance.html" title="Green Spaces Maintenance"></a>تلميع</h4>
                  
                </li>
              </ul>
              <div class="cm-carousel-pagination"></div>
            </div>
          </div>
        </div>
        <div class="row page-margin-top-section">
          <div class="column column-1-4">
            <div class="row">
              <a href="../../assets/images/samples/480x320/image_03.jpg" class="prettyPhoto cm-preload" title="House Cleaning">
                <img src='../../assets/images/samples/480x320/image_03.jpg' alt='img'>
              </a>
            </div>
            <div class="row margin-top-30">
              <a href="../../assets/images/samples/480x320/image_10.jpg" class="prettyPhoto cm-preload" title="Window Cleaning">
                <img src='../../assets/images/samples/480x320/image_10.jpg' alt='img'>
              </a>
            </div>
          </div>
          <div class="column column-1-4">
            <a href="../../assets/images/samples/480x693/image_01.jpg" class="prettyPhoto cm-preload" title="Apartment Cleaning">
              <img src='../../assets/images/samples/480x693/image_01.jpg' alt='img'>
            </a>
          </div>
          <div class="column column-1-2">
     
            <p class="description align-center"></p>
            <p class="align-center padding-0 margin-top-27 padding-left-right-35">
            <div class="align-center page-margin-top padding-bottom-16">
              <a class="more" href="index-page=about.html" title="Learn more">Learn more</a>
            </div>
          </div>
        </div>
        <div class="row full-width page-margin-top-section padding-bottom-100 counters-group parallax parallax-2 overlay">
          <div class="row">
            <div class="column column-1-4">
              <div class="counter-box">
                <div class="ornament-container">
                  <div class="ornament animated-element duration-2000 animation-ornamentHeight" data-animation-start="230"></div>
                </div>
                <span class="number animated-element" data-value="295" data-animation-start="230"></span>
                
              </div>
            </div>
            <div class="column column-1-4">
              <div class="counter-box">
                <div class="ornament-container">
                  <div class="ornament animated-element duration-2000 animation-ornamentHeight" data-animation-start="230"></div>
                </div>
                <span class="number animated-element" data-value="400" data-animation-start="230"></span>
               
              </div>
            </div>
            <div class="column column-1-4">
              <div class="counter-box">
                <div class="ornament-container">
                  <div class="ornament animated-element duration-2000 animation-ornamentHeight" data-animation-start="230"></div>
                </div>
                <span class="number animated-element" data-value="527" data-animation-start="230"></span>
              
              </div>
            </div>
            <div class="column column-1-4">
              <div class="counter-box">
                <div class="ornament-container">
                  <div class="ornament animated-element duration-2000 animation-ornamentHeight" data-animation-start="230"></div>
                </div>
                <span class="number animated-element" data-value="105" data-animation-start="230"></span>
              
              </div>
            </div>
          </div>
        </div>
        <div class="row full-width gray padding-top-89 padding-bottom-100">
          <div class="row">
            
            <p class="description align-center">
            
            <div class="row margin-top-30 flex-box">
              <form class="cost-calculator-container column column-1-3" method="post" action="?page=service_calculator">
                <div class="cost-calculator-box cost-calculator-sum clearfix">
                  <h3>غسيل VIP</h3>
                  
                  <ul class="simple-list margin-top-20">
                    <li><img src="../../assets/images/vip.png"></li>
                    <li>غسيل خارجي بالبخار</li>
                    <li>غسيل داخلي بالبخار</li>
                    <li>شامبو ملمع للبودي</li>
                    <li>تعقيم فتحات التكييف بالبخار</li>
                    <li>تنظيف المكينة بالبخار</li>
                    <li>تنظيف المقاعد وازالة البقع</li>
                    <li>تنظيف الجنوط</li>
                    
                    <li>تلميع الكفرات</li>
                    
                  </ul>
            
                   <br><br>  <br><br>  <br><br>
                    <input type="submit" name="submit_basic" value="إحجز الآن" class="more gray">
                  
                </div>
              </form>
              <form class="cost-calculator-container column column-1-3" method="post" action="?page=service_calculator">
                <div class="cost-calculator-box cost-calculator-sum clearfix">
                  <h3>غسيل بلس</h3>
                  
                  <ul class="simple-list margin-top-20">
                    <li><img src="../../assets/images/plus.png"></li>
                    
                    <li>غسيل خارجي بالبخار</li>
                    <li>غسيل داخلي بالبخار</li>
                    <li>تعقيم فتحات التكييف بالبخار</li>
                    <li>كنيس وتنظيف من الداخل</li>
                    <li>تنظيف المكينة بالبخار</li>
                    <li>تلميع الكفرات</li>
                    <!--<li>Dinning room cleaning</li>
                    <li>Play room cleaning</li>
                    <li>Laundry cleaning</li>
                    <li>Gym cleaning</li>
                    <li>Garage cleaning</li>
                    <li>The scope of basic service +</li>
                    <li>Washing floors</li>
                    <li>Cleaning lamps and heaters</li>
                    <li>Cleaning of bathroom and kitchen tiles</li>
                    <li>Cleaning cabinets fronts</li>
                    <li>Cleaning doors and doorframes</li>-->
                  </ul>
                  <br><br>  <br><br>  <br><br><br><br><br><br><br>
                  <input type="submit" name="submit_basic" value="إحجز الآن" class="more gray">
                </div>
              </form>
              <form class="cost-calculator-container column column-1-3" method="post" action="?page=service_calculator">
                <div class="cost-calculator-box cost-calculator-sum clearfix">
                  <h4>تلميع السيارات</h4>
                  
                  <ul class="simple-list margin-top-20">
                    <li><img src="../../assets/images/voi.png"></li>
                   <br><br><br> <li>تلميع داخلي</li>
                    <li>غسيل خارجي بالبخار</li>
                    
                   
                  </ul>
             <br><br>  <br><br>  <br><br>  <br><br><br><br><br> <br><br>  <br><br>  <br><br><br><br><br>
                  <input type="submit" name="submit_basic" value="إحجز الآن" class="more gray">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row full-width padding-top-59 padding-bottom-60 align-center">
          <h3><span class="button-label">SEE MORE CALCULATOR EXAMPLES</span> <a class="more" href="index-page=service_calculator.html" title="Service calculator">Service calculator</a></h3>
        </div>
        <div class="row full-width padding-top-112 padding-bottom-115 parallax parallax-3 overlay">	
          <div class="row testimonials-container">
            <a href="index-page=home.html#" class="slider-control left template-arrow-horizontal-3"></a>
            <ul class="testimonials-list testimonials-carousel">
              <li>
                <div class="testimonials-icon template-quote"></div>
                
                <!--<div class="author-details">CEO OF NEW PORT COMPANY</div>-->
              </li>
              <li>
                <div class="testimonials-icon template-quote"></div>
              
                <!--<div class="author-details">CEO OF NEW PORT COMPANY</div>-->
              </li>
              <li>
                <div class="testimonials-icon template-quote"></div>
                
                <!--<div class="author-details">CEO OF NEW PORT COMPANY</div>-->
              </li>
            </ul>
            <a href="index-page=home.html#" class="slider-control right template-arrow-horizontal-3"></a>
          </div>
        </div>
        <div class="row full-width padding-top-89 padding-bottom-100">
          <div class="row">
            <h2 class="box-header">SELECTED PROJECTS</h2>
            <p class="description align-center">Explore completed projects.</p>
            <div class="carousel-container margin-top-65 clearfix">
              <ul class="projects-list horizontal-carousel clearfix page-margin-top">
                <li class="column column-1-3">
                  <a href="index-page=project_apartment_cleaning.html" title="Apartment Cleaning">
                    <img src="../../assets/images/samples/480x320/image_01.jpg" alt="">
                  </a>
                  <div class="view align-center">
                    <div class="vertical-align-table">
                      <div class="vertical-align-cell">
                        <p>Apartment cleaning</p>
                        <a class="more simple" href="index-page=project_apartment_cleaning.html" title="View project">View project</a>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="column column-1-3">
                  <a href="index-page=project_gutter_cleaning.html" title="Gutter Cleaning">
                    <img src="../../assets/images/samples/480x320/image_02.jpg" alt="">
                  </a>
                  <div class="view align-center">
                    <div class="vertical-align-table">
                      <div class="vertical-align-cell">
                        <p>Gutter Cleaning</p>
                        <a class="more simple" href="index-page=project_gutter_cleaning.html" title="View project">View project</a>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="column column-1-3">
                  <a href="index-page=project_move_in_out.html" title="Move In Out">
                    <img src="../../assets/images/samples/480x320/image_04.jpg" alt="">
                  </a>
                  <div class="view align-center">
                    <div class="vertical-align-table">
                      <div class="vertical-align-cell">
                        <p>Move In Out</p>
                        <a class="more simple" href="index-page=project_move_in_out.html" title="View project">View project</a>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="column column-1-3">
                  <a href="index-page=project_after_renovation_cleaning.html" title="After Renovation Cleaning">
                    <img src="../../assets/images/samples/480x320/image_08.jpg" alt="">
                  </a>
                  <div class="view align-center">
                    <div class="vertical-align-table">
                      <div class="vertical-align-cell">
                        <p>After Renovation Cleaning</p>
                        <a class="more simple" href="index-page=project_after_renovation_cleaning.html" title="View project">View project</a>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="column column-1-3">
                  <a href="index-page=project_house_cleaning.html" title="House Cleaning">
                    <img src="../../assets/images/samples/480x320/image_03.jpg" alt="">
                  </a>
                  <div class="view align-center">
                    <div class="vertical-align-table">
                      <div class="vertical-align-cell">
                        <p>House Cleaning</p>
                        <a class="more simple" href="index-page=project_house_cleaning.html" title="View project">View project</a>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="column column-1-3">
                  <a href="index-page=project_garden_maintenance.html" title="Garden Maintenance">
                    <img src="../../assets/images/samples/480x320/image_06.jpg" alt="">
                  </a>
                  <div class="view align-center">
                    <div class="vertical-align-table">
                      <div class="vertical-align-cell">
                        <p>Garden Maintenance</p>
                        <a class="more simple" href="index-page=project_garden_maintenance.html" title="View project">View project</a>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="column column-1-3">
                  <a href="index-page=project_apartment_cleaning.html" title="Apartment Cleaning">
                    <img src="../../assets/images/samples/480x320/image_01.jpg" alt="">
                  </a>
                  <div class="view align-center">
                    <div class="vertical-align-table">
                      <div class="vertical-align-cell">
                        <p>Apartment cleaning</p>
                        <a class="more simple" href="index-page=project_apartment_cleaning.html" title="View project">View project</a>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="column column-1-3">
                  <a href="index-page=project_gutter_cleaning.html" title="Gutter Cleaning">
                    <img src="../../assets/images/samples/480x320/image_02.jpg" alt="">
                  </a>
                  <div class="view align-center">
                    <div class="vertical-align-table">
                      <div class="vertical-align-cell">
                        <p>Gutter Cleaning</p>
                        <a class="more simple" href="index-page=project_gutter_cleaning.html" title="View project">View project</a>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="column column-1-3">
                  <a href="index-page=project_move_in_out.html" title="Move In Out">
                    <img src="../../assets/images/samples/480x320/image_04.jpg" alt="">
                  </a>
                  <div class="view align-center">
                    <div class="vertical-align-table">
                      <div class="vertical-align-cell">
                        <p>Move In Out</p>
                        <a class="more simple" href="index-page=project_move_in_out.html" title="View project">View project</a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="cm-carousel-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </div>	
    </div>
